<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
</head>
<body>
    <aside>
        <img src="{% static 'app/img/forshop.png' %}" alt="logo">
        <span class="logo">МАГАЗИН</span>
        <h3>Навигация</h3>
        <ul>
            <a href="{% url 'home' %}"><li>Главная</li></a>
            <a href="{% url 'add' %}"><li>Добавть</li></a>
        </ul>
    </aside>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>