body {
    background: #2c2c2c
}

aside{
    float: left;
    background: #181818;
    width: 23%;
    padding: 2.5%;
    height: 300vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 80px;
    float: left;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    positive: relative;
    top: -5px;
}

aside h3{
    margin-top: 50px;
    font-size: 28px;
}

aisde ul {list-style: none}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover{
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}


main .features{
    float: left;
    color: white;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

.alert-warning{
    float: left;
    clear: both;
    min-width: 400px;
    max-width: 1100px;
    margin: 20px 28%;
    text-align: left;
}

.imgtovar{
    max-height: 200px;
    max-width: 400px;
    border-radius: 10px;
    margin: 40px 10px;
}

.block {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 400px; margin: 20px auto}
